DATABASE_URL=postgresql://postgres:password@localhost:5432/pokedex
PORT=3000

# match the url used for API requests
BETTER_AUTH_URL=http://localhost:3000
# generate a random secret using: bun -e "console.log(require('node:crypto').randomBytes(32).toString('hex'))"
BETTER_AUTH_SECRET=
